<!-- Default form subscription -->
<form class="text-center border border-light p-5" (ngSubmit)="onSubmit()" #f="ngForm">

  <br>
  <br>

  <!-- Email -->
  <input type="email" id="emailId" class="form-control mb-4" placeholder="E-mail" ngModel  name="emailId" required  #email="ngModel" email UniqueEmail>
   <div *ngIf="email.errors">
  <span class="help-block" *ngIf="!email.valid && email.touched"> <br>
     <div *ngIf="email.errors['required']"> Required </div>
     <div *ngIf="email.errors['email']"> Invalid </div>
  <!-- <div *ngIf="email.errors['required']">Email is required</div> -->
  <div *ngIf="email.errors['UniqueEmail']"> Email already exists</div>
  </span>
   </div>



  <input type="password" id="password" class="form-control mb-4" placeholder="Password" ngModel name="password" #password="ngModel"
    [pattern]="passwordPattern" required>
  <span class="help-block"   *ngIf="!password.valid && password.touched"> Please Enter A Valid Password</span>
    <br>


    <input type="text" id="firstName" class="form-control mb-4"
     placeholder="First Name" ngModel name="firstName"
     [pattern]="firstNameLastNamePattern"  #firstName="ngModel" required>
      <span class="help-block"   *ngIf="!firstName.valid && firstName.touched">
        <p *ngIf="firstName.errors.required">First Name is Required</p>
         <p *ngIf="firstName.errors.pattern">Invalid First Name</p>
          </span>
          <br>

          <input type="text" id="lastName" class="form-control mb-4" placeholder="Last Name" ngModel name="lastName" [pattern]="firstNameLastNamePattern"
            required #lastName=ngModel>
              <span class="help-block"   *ngIf="!lastName.valid && lastName.touched">
      <p *ngIf="lastName.errors.required">Last Name is Required</p>
        <p *ngIf="lastName.errors.pattern">Invalid last Name</p>
          </span>
             <br>

          <input type="text" id="profileImage" class="form-control mb-4" placeholder="Image Url" ngModel name="profileImage" #imageUrl="ngModel" required>          <br>

          <input type="number" id="aadharNumber" class="form-control mb-4" placeholder="Aadhar Number" ngModel name="aadharNumber" [pattern]="aadharPattern"
            required #aadharNumber="ngModel"> <br>
          <span class="help-block"   *ngIf="!aadharNumber.valid && aadharNumber.touched">
            <p *ngIf="aadharNumber.errors.required">Aadhar Number is {{aadharNumber.errors.required}} Required</p>
              <p *ngIf="aadharNumber.errors.pattern">Invalid Aadhar Number</p>
                </span>



                <!-- Sign in button -->
                <button mdbBtn color="info" class="btn btn-button-success" block="true" type="submit" [disabled]="!f.valid">Sign in</button>


</form>
<!-- Default form subscription -->