<!-- Default form subscription -->
<form class="text-center border border-light p-5" (ngSubmit)="onSubmit()" #f="ngForm">
   
    <br>
    <br>
  
  <!-- Email -->
  <input type="email" 
  id="email" 
  class="form-control mb-4" placeholder="E-mail"
  ngModel
  name="email"
  required
  email
  #email="ngModel">
  <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email! </span> <br>
  
  <input type="password" 
  id="password" 
  class="form-control mb-4" placeholder="Password"
  ngModel
  name="password"
  required
  > <br>
  <!-- Sign in button -->
  <button mdbBtn color="info"
   class="btn btn-button-success" 
   block="true" 
   type="submit"
   [disabled] ="!f.valid">Sign in</button>


</form>
<!-- Default form subscription -->