<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Census Data</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLinkActive="active-link" routerLink="houselisting">House Listing<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-link" routerLink="populationregister">National Population
          Register</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a  class="nav-link" routerLink='' (click)="OnDelete()" routerLinkActive="active-link"><i class="fas fa-sign-out-alt"></i> LogOut</a>
      </li>
    </ul>
  </div>
</nav>